<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662986295849-br653c8uo31d76c6ppne9pulufde8jdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662986295849-br653c8uo31d76c6ppne9pulufde8jdd</string>
	<key>API_KEY</key>
	<string>AIzaSyBL-Hsn9-QHx_kj_RGmwzCF2zLFrz8UCTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>662986295849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chordFinder</string>
	<key>PROJECT_ID</key>
	<string>signin-chordfinder</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-chordfinder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662986295849:ios:8451103396305422b12a38</string>
</dict>
</plist>